#main > .inner {
    margin: 0 auto;
    width: 80rem;
    max-width: 90%;
    margin-bottom: 2rem;
    background: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    border-radius: 2px;
}

@media screen and (max-width: 980px) {

    #main .image {
        width: 100%;
        min-width: 100%;
        float: none;
        margin: 0 0 2rem 0;
    }

        #main .image>#mainimg{
            width: 65%;
            margin-left: 17.5%;
        } 

        #main .image img {
            width: 100%;
        }

}

.wrapper > header {
    text-align: center;
    background: #FFF;
    padding: 2rem;
    margin: 0;
}

    .wrapper > header h2 {
        position: relative;
        padding-bottom: .75rem;
    }

        .wrapper > header h2:after {
            content: '';
            position: absolute;
            margin: auto;
            right: 0;
            bottom: 0;
            left: 0;
            width: 10%;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.125);
        }

    .wrapper > header p {
        text-transform: uppercase;
        font-weight: 300;
        font-size: .8rem;
        letter-spacing: .25rem;
        margin: 0;
    }

    .wrapper > header.special {
        padding: 4rem 2rem;
    }

        @media screen and (max-width: 980px) {

            .wrapper > header.special {
                padding: 3rem 2rem;
            }

        }

    @media screen and (max-width: 736px) {

        .wrapper > header {
            padding: 1.5rem;
        }

            .wrapper > header h2 {
                font-size: 1.5rem;
            }

                .wrapper > header h2:after {
                    width: 50%;
                }

    }

.wrapper.style1 .content {
    padding: 6rem;
}

    @media screen and (max-width: 1280px) {

        .wrapper.style1 .content {
            padding: 4rem;
        }

    }

    @media screen and (max-width: 736px) {

        .wrapper.style1 .content {
            padding: 2rem;
        }

    }

.wrapper.style2 {
    background: #1e1f23;
    padding: 6rem;
}

    .wrapper.style2 header {
        background: #121315;
        border-radius: 4px 4px 0 0;
    }

        .wrapper.style2 header h2 {
            color: #FFF;
        }

            .wrapper.style2 header h2:after {
                background-color: rgba(255, 255, 255, 0.125);
            }

        .wrapper.style2 header p {
            color: rgba(255, 255, 255, 0.25);
        }

    @media screen and (max-width: 1000px) {

        .wrapper.style2 {
            padding: 4rem;
        }

    }

    @media screen and (max-width: 736px) {

        .wrapper.style2 {
            padding: 2rem;
        }

    }


    body:after {
        -moz-pointer-events: none;
        -webkit-pointer-events: none;
        -ms-pointer-events: none;
        pointer-events: none;
        -moz-transition: opacity 1.5s ease-in-out, visibility 1.5s;
        -webkit-transition: opacity 1.5s ease-in-out, visibility 1.5s;
        -ms-transition: opacity 1.5s ease-in-out, visibility 1.5s;
        transition: opacity 1.5s ease-in-out, visibility 1.5s;
        content: '';
        background-image: url(../../images/sky.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        visibility: visible;
        opacity: 1;
    }